*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div{
    height: 100px;
    width: 100px;
    background-color: red;
    transition: 1s ease-in-out;
}

div:hover{
    width: 1000px;
}